<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net452" />
  <package id="AutofacContrib.NSubstitute" version="4.0.1" targetFramework="net452" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net452" />
  <package id="Microsoft.Reactive.Testing" version="3.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="nspec" version="1.0.7" targetFramework="net45" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net45" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net452" />
</packages>